ul {
  list-style-type: none;
  padding-bottom: : 0;
  padding-left: 50px
}

li {
  display: flex;
  padding-bottom: 20px;
}

li img {
  width: 20%;
}

li .container {
  flex: 1;
  padding: 10px;
}

li:hover {
  background: #eee;
  cursor: pointer;
}
