@font-face { font-family: Berlin; src: url('fonts/Berlin.ttf'); }

body {
  font-family: Berlin;
  background-color: #ffc42a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ff842a' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");}

.deletePane {
  background-color: #fed65e;
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#add_edit_form {
  margin-left: 300px;
}

form .input_field {
  padding-bottom: 10px;
  display: flex;
}

.input_field p {
  padding: 0;
  width: 100px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13pt;
}

a, a:visited {
    color:black;
    text-decoration:none;
    }

ul {
  list-style-type: none;
  padding-bottom: : 0;
  margin-left: 300px;
  padding-left: 0;
}

li {
  display: flex;
  margin-bottom: 20px;
  background-color: #fed65e;
  margin-right: 300px
}

img {
  width: 20%;
  object-fit: cover;
}

li .container {
  flex: 1;
  margin-left: 50px;
  margin-bottom: 30px;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

li h3 {
  font-family: Berlin;
  font-size: 20pt;
}

.container {
  flex: 1;
  margin-left: 10px;
}

.addNewRestaurant {
  cursor: pointer;
  color: white;
  padding: 10px 0px 10px 10px;
  display: inline-block;
  background-color: SlateBlue;
  margin-left: 300px;
  border-radius: 25px;
}

.addNewRestaurant a {
  padding: 0 15px 0 10px;
  font-size: 13pt;
}

.addNewRestaurant:hover, .addNewRestaurant:active {
  background-color: MediumSeaGreen;
}

.editdeletepane {
  padding-top: 10px;
}

a {
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}

#cancel {
  background-color: Gray;
  padding: 10px;
  border-radius: 5px;
}

 #editTag {
    background-color: MediumSeaGreen;
 }

 #editTag:hover, #editTag:active{
    background-color: green;
 }

 #deleteTag {
  background-color: Tomato;
}

#deleteTag:hover, #editTag:active{
    background-color: red;
 }


.checked {
  color: orange;
}

.header {
  color: #2d433;
  display: flex;
  background-color: #8d9440;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2362662c' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");  margin-bottom: 30px;
  width: 100%;
}

.header h1 {
    flex: 1;
    margin-left: 30px;
}

.header img {
  width: 5%;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #ff842a;
  border: 1px;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #ff842a;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #ff842a;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}