<html>
     <head>
            <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
    <body>
        <div class = 'header'>
                        <img src="{{url_for('static', filename='images/home_icon.jpg')}}"/>
                        <h1>Best Vegan Restaurants in Prenzlauer Berg</h1>
                    </div>
        <div class = 'pane'>

        <form id="add_edit_form" action="{{ url_for('addNewRestaurant')}}" method = 'post'>
        <h3>New Restaurant</h3>

        <div class = "input_field">
            <p>Name:</p>
            <input type ='text' size='30' name='name' placeholder="Fancy Fennel">
        </div>
        <div class = "input_field">
            <p>Image:</p>
            <input type ='text' size='30' name='image' placeholder="restaurantImage7">
        </div>
        <input type='submit' value='Create'>

        </form>
        </div>

    </body>




</html>